/*#svg{
	position: :absolute;
}
*/
body{
	background-color:black;
	color:white;
}
#svgother{
	position:absolute;
}

.font{
		@import url(http://fonts.googleapis.com/css?family=Hind:400,700);
		font-family: 'Hind', sans-serif;
		font-size:170px;
}
.default{
			background-color :red;
			color:blue;
}
.default-font{a
			fill:RGBA(199, 104, 202, 1);
}

.chn{
	/*background-color :#FF4500;*/
	background: -webkit-linear-gradient(red 70%, orange 90%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(red 70%, orange 90%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(red 70%, orange 90%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(red 70%, orange 90%); /* Standard syntax */

}
.chn-font{
	fill:#FFFF00;
}

.usa{
	background: -webkit-linear-gradient(red 70%, blue 90%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(red 70%, blue 90%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(red 70%, blue 90%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(red 70%, blue 90%); /* Standard syntax */
	/*background-color: #0052A5;*/
}

.usa-font{
	fill:white;
}

.jpn{
	background: white;
	/*background-color: #0052A5;*/
}

.jpn-font{
	fill:#FF0000;
}

.fra{
	background: -webkit-linear-gradient(red 70%, white 90%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(red 70%, white 90%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(red 70%, white 90%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(red 70%, white 90%); /* Standard syntax */
}

.fra-font{
	fill:#0000ff;
}

.nld{
	background: -webkit-linear-gradient(white 70%, blue 90%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white 70%, blue 90%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white 70%, blue 90%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white 70%, blue 90%); /* Standard syntax */
}

.nld-font{
	fill:#B22222;
}

.gbr{
	background: -webkit-linear-gradient(red 70%, white 90%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(red 70%, white 90%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(red 70%, white 90%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(red 70%, white 90%); /* Standard syntax */
}

.gbr-font{
	fill:blue;
}

.mex{
	background: -webkit-linear-gradient(red 70%, green 90%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(red 70%, green 90%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(red 70%, green 90%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(red 70%, green 90%); /* Standard syntax */
}
.mex-font{
	fill:white;
}

.are{
	background: -webkit-linear-gradient(red 70%, white 90%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(red 70%, white 90%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(red 70%, white 90%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(red 70%, white 90%); /* Standard syntax */
}

.are-font{
	fill:#32CD32;
}

.ind{
	background: -webkit-linear-gradient(#FF9933 10%,white 50%, #138808 90%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FF9933 10%,white 50%, #138808 90%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FF9933 10%,white 50%, #138808 90%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FF9933 10%,white 50%, #138808 90%); /* Standard syntax */
}

.ind-font{
	fill:blue; 
}

.aus{
	background: -webkit-linear-gradient(blue 70%, white 90%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(blue 70%, white 90%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(blue 70%, white 90%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(blue 70%, white 90%); /* Standard syntax */
}

.aus-font{
	fill:#E8112D;
}

.bra{
	background: -webkit-linear-gradient(green 70%, yellow 90%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(green 70%, yellow 90%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(green 70%, yellow 90%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(green 70%, yellow 90%); /* Standard syntax */
}

.bra-font{
	fill:#182B78;
}

.rus{
	background: -webkit-linear-gradient(white 70%, red 90%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white 70%, red 90%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white 70%, red 90%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white 70%, red 90%); /* Standard syntax */
}

.rus-font{
	fill:#0000FF;
}

.tur{
	background-color: #E30A17;
}

.tur-font{
	fill:#CC0000;
}